annotated-doc
annotated-types
anyio
certifi
click
distro
fastapi
h11
httpcore
httptools
httpx
idna
jiter
joblib
numpy
openai
pandas
pydantic
pydantic_core
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
tqdm
typing-inspection
typing_extensions
tzdata
uvicorn
uvloop
watchfiles
websockets
jinja2

